.navUno{
	writing-mode: vertical-lr;
	transform: rotate(180deg);
	text-align:justify;
	margin-left:15px;
	width: 25%;
	margin-left: 100%
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
	color: #ffffff;
	background-color: #fcbc0d;
	height: auto;
	margin-bottom: 5px;
	text-align: justify;
     padding: 16px;
     padding-right: 22px;
}

.nav-pills .nav-link {
	border-radius: .25rem;
	background-color: #ff9000;
	color: #e7ecea;
	margin-bottom: 5px;
	 padding: 16px;
     padding-right: 22px;
	 border:1px solid rgb(252, 115, 3);
}
.nav-pills .nav-link:hover {
	border-radius: .25rem;
	background-color: #fcbc0d;
	color: #ffffff;
	margin-bottom: 5px;
	 padding: 16px;
     padding-right: 22px;
}

.card{
	width: 100%;
	height: auto;
}
.bg-light {
    background-color: #ffa600 !important;
    text-align: justify;
    height: 600px;
}
.bg-dark {
    background-color: white !important;
   
}
h1{
	 color: #ffa600 !important;
	 font-size: 24px;
}

#v-pills-home-tabS{
	 background-color: 	white !important;
	  width: 144px !important;
}

.navbar-toggler{
	color: #ffa600 !important;
}


  @media (max-width: 767.98px) {
    .bg-dark a{
    	margin-left: 120px;
    
  }
  .bg-dark ul{
    	margin-left: 70px;
    
  }
  }
  @media (max-width: 767.98px) {
    .bg-dark button{
    	margin-top: -25px;
    	margin-right: 5px;   
  }
  }
  .fondo-modal{
	  background-color: #ff9b21;
	  color: rgb(255, 255, 255);
  }

  .boton-col{
	background-color: #ff9b21;
  }
  .btn-add{
	margin-right: 60%;
  }
  .form-style{
	  background-color:#f5f5f5;
  }
  .numeros{
	height: 40px;
	width: 40px;
	border: 2px solid #000;
	display: inline-block;
	border-radius: 50%;
	position: relative;
	justify-content: center;
  }
  .numerosa{
	height: 40px;
	width: 40px;
	border: 2px solid rgb(252, 173, 3);
	background-color: rgb(252, 173, 3);
	display: inline-block;
	border-radius: 50%;
	position: relative;
	justify-content: center;
  }
  .tam-boton{
	width: 180px;
  }
  .tamc-boton{
	width: 180px;
	background-color: #c5b4b4;
  }

  .tamc-boton:hover{
	width: 180px;
	background-color: #998d8d;
  }
  .menu-lateral{
	  background-color: #ff9000;
  }